.OngoingMatch {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.OngoingMatch-over {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(16px + 3vmin);
}

.OngoingMatchSide {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.OngoingMatchGoals {
	position: absolute;
	transform-origin: top center;
	background-color: #5f9fff;
	width: 24rem;
	height: 24rem;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 10rem;
}

.OngoingMatch-close {
	position: absolute;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	background-color: #7f7f7f;
	border: none;
	border-radius: 1rem;
	padding: 2rem;
}

.OngoingMatch-button {
	position: relative;
	border: none;
	border-radius: 2rem;
	user-select: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.OngoingMatch-button-plus {
	width: calc(100% - 8rem);
	height: calc(100% - 16rem);
	background-color: #3f7fff;
	font-size: calc(20px + 20vmin);
	font-weight: bold;
}

.OngoingMatch-button-minus {
	width: calc(100% - 50vmin);
	min-width: 8rem;
	height: 8rem;
	background-color: #ff7f3f;
	font-size: calc(16px + 2vmin);
}
